*{
    margin: 20px;
}
body{
    background-color: #b6ffcf;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #15e297d8;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7dffc2;
    color: #11c180d8;
}
h3{
    display: inline;
    background-color: #9cfed1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0e6b49d8;
}

.date>i{
    display: inline;
    background-color: #e8acfa;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #845ec2;
}

p{
    font-family: 'Microsoft YaHei Light', Georgia, 'Times New Roman', Times, serif;
    line-height: 2.3;
}
ul{
    font-family: 'Microsoft YaHei Light', Georgia, 'Times New Roman', Times, serif;
    line-height: 2.3;
}
.man>i{
    display: inline;
    background-color: #a4fff9;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #3fc8b1;
}
.gifts>b{
    display: inline;
    background-color: #81fe81;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #19b55f;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #0e6b49d8;
}
input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #0e6b49d8;
}
#hide{
    color: #b6ffcf;
}
#hide:hover{
    background-color: #7dffc2;
    color: #11c180d8;
}
.image-container {
    position: relative;
    display: inline-block;
}

.description {
    font-family: 'Microsoft YaHei Light', Georgia, 'Times New Roman', Times, serif;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #7dffc2;
    color: #11c180d8;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.image-container:hover .description {
    display: block;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6eefb7;
    padding-top: 20px;
    transition: 0.3s;
    overflow-x: hidden;
}

.sidenav a ,.dropdown-btn{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #1fab89;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.sidenav a:hover , .dropdown-btn:hover{
    color: #d7fbe8;
}

.dropdown-container {
    display: none;
    background-color: #6eefb7;
    padding-left: 15px;
}

.dropdown-container a {
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #1fab89;
}

.dropdown-container a:hover {
    color: #d7fbe8;
}

.main {
    margin-left: 290px; /* Same as the width of the sidenav */
    padding: 20px;
    transition: margin-left 0.3s;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav.collapsed {
    width: 0;
    padding-top: 0;
}

.sidenav.collapsed a, .sidenav.collapsed .dropdown-btn {
    font-size: 0;
    padding: 0;
}

.main.collapsed {
    margin-left: 0;
}

.toggle-btn {
    color: #009667;
    position: fixed;
    top: 20px;
    left: 300px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: left 0.3s;
}

.toggle-btn.collapsed {
    left: 10px;
}