*{
    margin: 20px;
}
body{
    background-color: #ffd6ff;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #a46ef6;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #c8b6ff;
    color: #ad80f9;
}
h3{
    display: inline;
    background-color: #e7c6ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #bb9bfc;
}

.date>i{
    display: inline;
    background-color: #e8acfa;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #845ec2;
}

p{
    font-family: 'Microsoft YaHei Light', Georgia, 'Times New Roman', Times, serif;
    line-height: 2.3;
}
ul{
    font-family: 'Microsoft YaHei Light', Georgia, 'Times New Roman', Times, serif;
    line-height: 2.3;
}
.man>i{
    display: inline;
    background-color: #EDB8FF;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #D485F3;
}
.gifts>b{
    display: inline;
    background-color: #ddbeff;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #ce72f3;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #9652FC;
}
input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #9652FC;
}
#hide{
    color: #ffd6ff;
}
#hide:hover{
    background-color: #dfa9fb;
    color: #ad80f9;
}
.image-container {
    position: relative;
    display: inline-block;
}

.description {
    font-family: 'Microsoft YaHei Light', Georgia, 'Times New Roman', Times, serif;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d3b5fe;
    color: #5a316f;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.image-container:hover .description {
    display: block;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e9b6fc;
    padding-top: 20px;
    transition: 0.3s;
    overflow-x: hidden;
}

.sidenav a ,.dropdown-btn{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #8536fc;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.sidenav a:hover , .dropdown-btn:hover{
    color: #d78cf7;
}

.dropdown-container {
    display: none;
    background-color: #e9b6fc;
    padding-left: 15px;
}

.dropdown-container a {
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #8536fc;
}

.dropdown-container a:hover {
    color: #d78cf7;
}

.main {
    margin-left: 290px; /* Same as the width of the sidenav */
    padding: 20px;
    transition: margin-left 0.3s;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav.collapsed {
    width: 0;
    padding-top: 0;
}

.sidenav.collapsed a, .sidenav.collapsed .dropdown-btn {
    font-size: 0;
    padding: 0;
}

.main.collapsed {
    margin-left: 0;
}

.toggle-btn {
    color: #d78cf7;
    position: fixed;
    top: 20px;
    left: 300px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: left 0.3s;
}

.toggle-btn.collapsed {
    left: 10px;
}

.btn{
    padding: 10px 20px;
    background-color: #a771f2;
    color: #ddbeff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #7b35d9;
}

hr{
    border: 1px solid #d78cf7;
    margin-bottom: 20px;
}

.hidden-content {
    display: none;
}

.fixed-button {
    position: fixed;
    top: 10px;
    left: 320px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e9b6fc;
    color: #8536fc;
}